<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset = UTF-8" http.equiv="Content-Type"/>
</head>
<body>
	<h1>Mascotas Contacto</h1>
	<p>Este visitante requiere contactarlo</h1>
	<p><%= @contacto.nombre %></br><%= @contacto.email%></p>
	<p>El visitante dice</p>
	<p>"<%= @contacto.mensaje %>"</p>
</body>
</html>