<div>
	<h3>Notas</h3>
<center><table>
<tr background: "#a6bedd">
	<td>Examen 1</td>
	<td>Examen 2 </td>
	<td>Examen 3 </td>
</tr>
<tr>
 <% @notas.each do |f| %>
	
	
		<td><%= f[0] %></td>
	
	<% end %>	
	</tr>	
	</table></center>
</div>