<%# navigation styled for Zurb Foundation 4 %>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><%= link_to 'Cerrar sesion'%></li> 
    <li class="name"><%= link_to 'ver notas'%></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
 </ul>

</nav>
